@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IndianType";
  src: url("../../public/assets/fonts/Indian\ Type\ Foundry\ -\ HongKong\ Light.woff2")
      format("woff2"),
    url("../../public/assets/fonts/Indian\ Type\ Foundry\ -\ HongKong\ Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IndianType";
  src: url("../../public/assets/fonts/Indian\ Type\ Foundry\ -\ HongKong\ Medium.woff2")
      format("woff2"),
    url("../../public/assets/fonts/Indian\ Type\ Foundry\ -\ HongKong\ Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  font-family: "IndianType";
  font-weight: 300;
}
html {
  scroll-behavior: initial;
}
body {
  @apply font-custom text-lg text-black;
}
.section-padding {
  @apply py-[80px] xl:py-[100px] xxl:py-[120px] xxxl:py-[180px];
}

html,body{
  width: 100%;
  height: 100%;
}
/* Hide scrollbar track completely */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Ensure track is fully transparent */
::-webkit-scrollbar-track {
  background: none;
  display: none; /* This helps in some cases */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 1);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 1);
}
.text-xxxl {
 @apply text-[110px] xxxl:text-[140px]
}
.text-xxl {
  @apply text-[65px] xxxl:text-[70px]
}
.text-xl {
  @apply text-[30px] xxxl:text-[33px]
}
